VITE_AUTH_API_URL=http://localhost:8081
VITE_EMPLOYEE_API_URL=http://localhost:8082
VITE_ATTENDANCE_API_URL=http://localhost:8084
VITE_LEAVE_API_URL=http://localhost:8085
VITE_PAYROLL_API_URL=http://localhost:8083
VITE_PERFORMANCE_API_URL=http://localhost:8086
VITE_NOTIFICATION_API_URL=http://localhost:8089
VITE_AI_INSIGHTS_API_URL=http://localhost:8088
